<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd"
       default-lazy-init="false">

      <!-- Activates scanning of @Autowired -->
    <context:annotation-config/>

    <!-- Activates scanning of @Repository and @Service -->
    <context:component-scan base-package="com.icsm.service"/>

<!-- 
   <bean id="connectionFactory" class="com.icsm.util.ConnectionFactory">
		<constructor-arg index="0" value="${jdbc.driverClassName}" />
		<constructor-arg index="1" value="${jdbc.url}" />
		<constructor-arg index="2" value="${jdbc.username}" />
		<constructor-arg index="3" value="${jdbc.password}" />
    </bean>
    
   <bean id="campaignsConnectionFactory" class="com.icsm.util.ConnectionFactory">
		<constructor-arg index="0" value="${jdbc.campaign.driverClassName}" />
		<constructor-arg index="1" value="${jdbc.campaign.url}" />
		<constructor-arg index="2" value="${jdbc.campaign.username}" />
		<constructor-arg index="3" value="${jdbc.campaign.password}" />
    </bean>    
 -->

    <!-- Add new DAOs here -->

    <!-- Add new Managers here -->
</beans>